### Importing packages

In [1]:
import os
import pymongo
import yaml
import rarfile
from tqdm import tqdm
import pandas as pd
import numpy as np
import requests
import ruamel.yaml
import certifi
ca = certifi.where()


client = pymongo.MongoClient(
    "mongodb+srv://prathameshmohite96:Psm%4020696@clusterpm.jycq9ph.mongodb.net/?retryWrites=true&w=majority",
    tlsCAFile = ca
)

collection = client["ineuron"]["thyroid"]

import warnings
warnings.filterwarnings("ignore")

### Load raw files

In [2]:
dataset_link = "C:\\Users\\pm353\\Downloads\\thyroid+disease"

with open(os.path.join(dataset_link, "hypothyroid.data")) as f:
    data = f.readlines()

with open(os.path.join(dataset_link, "hypothyroid.names")) as f:
    colnames = f.readlines()

dataset = pd.DataFrame(
    [[i.strip() for i in j.split(",")] for j in data],
    columns=[
        i.strip().split(":")[0] for i in colnames if i != "\n"
    ]
).rename(
    columns={
        "hypothyroid, negative.": "Target"
    }
)

### Upload data to MongoDB

In [3]:
for i in tqdm(range(dataset.shape[0])):
    try:
        collection.insert_one(dict(dataset.iloc[i, :]))
    except:
        pass

100%|██████████████████████████████████████████████████████████████████████████████| 3163/3163 [01:48<00:00, 29.07it/s]

### Load data from MongoDB

In [10]:
df_thyroid = pd.DataFrame(
    list(collection.find())
).drop(
    columns=["_id"],
    axis=1
).replace(
    {
        "na": np.nan,
        "?": np.nan
    }
)

str_cols = [
    'tumor', 'query_on_thyroxine', 'thyroid_surgery', 'sick',
    'pregnant', 'FTI_measured', 'on_antithyroid_medication',
    'T3_measured', 'on_thyroxine', 'Target', 'query_hyperthyroid',
    'T4U_measured', 'TT4_measured', 'query_hypothyroid', 'goitre',
    'sex', 'TBG_measured', 'lithium', 'TSH_measured'
]

numerical_cols = ["T4U", "TSH", "age", "T3", "TT4", "FTI", "TBG"]

for i in str_cols:
    df_thyroid[i] = df_thyroid[i].astype("str")

for i in numerical_cols:
    df_thyroid[i] = df_thyroid[i].astype("float64")


def create_schema_from_dataframe(df):
    # Create a dictionary for the schema
    schema_dict = {'columns': []}

    # Iterate over columns in the DataFrame
    for column in df.columns:
        column_info = {column: df[column].dtype.name}
        schema_dict['columns'].append(column_info)

    # Create a YAML instance
    yaml = ruamel.yaml.YAML()

    # Save the dictionary to a YAML file
    with open('config/schema.yaml', 'w') as file:
        yaml.dump(schema_dict, file)


create_schema_from_dataframe(df=df_thyroid)

In [20]:
import os, sys
import yaml
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import RobustScaler

In [7]:
main_df = pd.read_csv(
    "artifact/12_26_2023_19_02_23/data_ingestion/feature_store/thyroid.csv"
)

train_df = pd.read_csv(
    "artifact/12_26_2023_19_02_23/data_ingestion/ingested/train.csv"
)

test_df = pd.read_csv(
    "artifact/12_26_2023_19_02_23/data_ingestion/ingested/test.csv"
)

In [23]:
file_path = "config/schema.yaml"

def read_yaml_file(file_path: str):
    with open(file_path, "rb") as yaml_file:
        return yaml.safe_load(yaml_file)
    
config_schema = read_yaml_file(file_path=file_path)

In [24]:
str_cols = [list(i.keys())[0] for i in config_schema["columns"] if i[list(i.keys())[0]]=="object"]

In [25]:
str_cols.remove("Target")

In [26]:
str_cols

['sex',
 'on_thyroxine',
 'query_on_thyroxine',
 'on_antithyroid_medication',
 'thyroid_surgery',
 'query_hypothyroid',
 'query_hyperthyroid',
 'pregnant',
 'sick',
 'tumor',
 'lithium',
 'goitre',
 'TSH_measured',
 'T3_measured',
 'TT4_measured',
 'T4U_measured',
 'FTI_measured',
 'TBG_measured']

In [1]:
import joblib

In [2]:
model = joblib.load(filename="saved_models/1703634865/model.pkl")

In [33]:
pd.get_dummies(
    data=main_df.replace("?", np.nan),
    columns=str_cols
).drop(columns=["Target"])

,age,TSH,T3,TT4,T4U,FTI,TBG,sex_F,sex_M,on_thyroxine_f,...,T3_measured_n,T3_measured_y,TT4_measured_n,TT4_measured_y,T4U_measured_n,T4U_measured_y,FTI_measured_n,FTI_measured_y,TBG_measured_n,TBG_measured_y
0,72,30,0.60,15,1.48,10,NaN,False,True,True,...,False,True,False,True,False,True,False,True,True,False
1,15,145,1.70,19,1.13,17,NaN,True,False,False,...,False,True,False,True,False,True,False,True,True,False
2,24,0,0.20,4,1,0,NaN,False,True,True,...,False,True,False,True,False,True,False,True,True,False
3,24,430,0.40,6,1.04,6,NaN,True,False,True,...,False,True,False,True,False,True,False,True,True,False
4,77,7.30,1.20,57,1.28,44,NaN,False,True,True,...,False,True,False,True,False,True,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6321,58,5.80,1.70,86,0.91,95,NaN,True,False,True,...,False,True,False,True,False,True,False,True,True,False
6322,29,0.80,1.80,99,1.01,98,NaN,True,False,True,...,False,True,False,True,False,True,False,True,True,False
6323,77,1.20,0.60,71,0.68,104,NaN,False,True,True,...,False,True,False,True,False,True,False,True,True,False
6324,74,1.30,0.10,65,0.48,137,NaN,True,False,True,...,False,True,False,True,False,True,False,True,True,False
6325,56,0,1.80,139,0.97,143,NaN,True,False,False,...,False,True,False,True,False,True,False,True,True,False

In [42]:
model.preprocessor.feature_names_in_

array(['age', 'TSH', 'T3', 'TT4', 'T4U', 'FTI', 'TBG', 'sex_F', 'sex_M',
       'on_thyroxine_t', 'query_on_thyroxine_t',
       'on_antithyroid_medication_t', 'thyroid_surgery_t',
       'query_hypothyroid_t', 'query_hyperthyroid_t', 'pregnant_t',
       'sick_t', 'tumor_t', 'lithium_t', 'goitre_t', 'TSH_measured_y',
       'T3_measured_y', 'TT4_measured_y', 'T4U_measured_y',
       'FTI_measured_y', 'TBG_measured_y'], dtype=object)

In [43]:
pd.get_dummies(
    data=main_df.replace("?", np.nan),
    columns=str_cols
)[list(model.preprocessor.feature_names_in_)]

,age,TSH,T3,TT4,T4U,FTI,TBG,sex_F,sex_M,on_thyroxine_t,...,sick_t,tumor_t,lithium_t,goitre_t,TSH_measured_y,T3_measured_y,TT4_measured_y,T4U_measured_y,FTI_measured_y,TBG_measured_y
0,72,30,0.60,15,1.48,10,NaN,False,True,False,...,False,False,False,False,True,True,True,True,True,False
1,15,145,1.70,19,1.13,17,NaN,True,False,True,...,False,False,False,False,True,True,True,True,True,False
2,24,0,0.20,4,1,0,NaN,False,True,False,...,False,False,False,False,True,True,True,True,True,False
3,24,430,0.40,6,1.04,6,NaN,True,False,False,...,False,False,False,False,True,True,True,True,True,False
4,77,7.30,1.20,57,1.28,44,NaN,False,True,False,...,False,False,False,False,True,True,True,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6321,58,5.80,1.70,86,0.91,95,NaN,True,False,False,...,False,False,False,False,True,True,True,True,True,False
6322,29,0.80,1.80,99,1.01,98,NaN,True,False,False,...,False,False,False,False,True,True,True,True,True,False
6323,77,1.20,0.60,71,0.68,104,NaN,False,True,False,...,False,False,False,False,True,True,True,True,True,False
6324,74,1.30,0.10,65,0.48,137,NaN,True,False,False,...,False,False,False,False,True,True,True,True,True,False
6325,56,0,1.80,139,0.97,143,NaN,True,False,True,...,False,False,False,False,True,True,True,True,True,False

In [44]:
model.predict(
    pd.get_dummies(
        data=main_df.replace("?", np.nan),
        columns=str_cols
    )[
        list(
            model.preprocessor.feature_names_in_
        )
    ]
)

array([1, 1, 1, ..., 0, 0, 0])