### Importing packages

In [1]:
import os
import pymongo
import yaml
import rarfile
from tqdm import tqdm
import pandas as pd
import numpy as np
import requests
import ruamel.yaml
import certifi
ca = certifi.where()


client = pymongo.MongoClient(
    "mongodb+srv://prathameshmohite96:Psm%4020696@clusterpm.jycq9ph.mongodb.net/?retryWrites=true&w=majority",
    tlsCAFile = ca
)

collection = client["ineuron"]["thyroid"]

import warnings
warnings.filterwarnings("ignore")

### Load raw files

In [2]:
dataset_link = "C:\\Users\\pm353\\Downloads\\thyroid+disease"

with open(os.path.join(dataset_link, "hypothyroid.data")) as f:
    data = f.readlines()

with open(os.path.join(dataset_link, "hypothyroid.names")) as f:
    colnames = f.readlines()

dataset = pd.DataFrame(
    [[i.strip() for i in j.split(",")] for j in data],
    columns=[
        i.strip().split(":")[0] for i in colnames if i != "\n"
    ]
).rename(
    columns={
        "hypothyroid, negative.": "Target"
    }
)

### Upload data to MongoDB

In [3]:
for i in tqdm(range(dataset.shape[0])):
    try:
        collection.insert_one(dict(dataset.iloc[i, :]))
    except:
        pass

100%|██████████████████████████████████████████████████████████████████████████████| 3163/3163 [01:48<00:00, 29.07it/s]

### Load data from MongoDB

In [10]:
df_thyroid = pd.DataFrame(
    list(collection.find())
).drop(
    columns=["_id"],
    axis=1
).replace(
    {
        "na": np.nan,
        "?": np.nan
    }
)

str_cols = [
    'tumor', 'query_on_thyroxine', 'thyroid_surgery', 'sick',
    'pregnant', 'FTI_measured', 'on_antithyroid_medication',
    'T3_measured', 'on_thyroxine', 'Target', 'query_hyperthyroid',
    'T4U_measured', 'TT4_measured', 'query_hypothyroid', 'goitre',
    'sex', 'TBG_measured', 'lithium', 'TSH_measured'
]

numerical_cols = ["T4U", "TSH", "age", "T3", "TT4", "FTI", "TBG"]

for i in str_cols:
    df_thyroid[i] = df_thyroid[i].astype("str")

for i in numerical_cols:
    df_thyroid[i] = df_thyroid[i].astype("float64")


def create_schema_from_dataframe(df):
    # Create a dictionary for the schema
    schema_dict = {'columns': []}

    # Iterate over columns in the DataFrame
    for column in df.columns:
        column_info = {column: df[column].dtype.name}
        schema_dict['columns'].append(column_info)

    # Create a YAML instance
    yaml = ruamel.yaml.YAML()

    # Save the dictionary to a YAML file
    with open('config/schema.yaml', 'w') as file:
        yaml.dump(schema_dict, file)


create_schema_from_dataframe(df=df_thyroid)

In [5]:
with open("schema.yaml", "rb") as yaml_file:
    schema = yaml.safe_load(yaml_file)

In [6]:
len(schema["columns"])

26

In [7]:
len(df_thyroid.columns)

26

In [8]:
[list(i.keys())[0] for i in schema["columns"] if list(i.values())[0]=="object"]

['Target',
 'sex',
 'on_thyroxine',
 'query_on_thyroxine',
 'on_antithyroid_medication',
 'thyroid_surgery',
 'query_hypothyroid',
 'query_hyperthyroid',
 'pregnant',
 'sick',
 'tumor',
 'lithium',
 'goitre',
 'TSH_measured',
 'T3_measured',
 'TT4_measured',
 'T4U_measured',
 'FTI_measured',
 'TBG_measured']

In [9]:
[list(i.keys())[0] for i in schema["columns"] if list(i.values())[0]=="float64"]

['age', 'TSH', 'T3', 'TT4', 'T4U', 'FTI', 'TBG']

In [14]:
df_thyroid.drop(columns=[])

,Target,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,thyroid_surgery,query_hypothyroid,query_hyperthyroid,pregnant,...,T3_measured,T3,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG
0,hypothyroid,72.0,M,f,f,f,f,f,f,f,...,y,0.6,y,15.0,y,1.48,y,10.0,n,NaN
1,hypothyroid,15.0,F,t,f,f,f,f,f,f,...,y,1.7,y,19.0,y,1.13,y,17.0,n,NaN
2,hypothyroid,24.0,M,f,f,f,f,f,f,f,...,y,0.2,y,4.0,y,1.00,y,0.0,n,NaN
3,hypothyroid,24.0,F,f,f,f,f,f,f,f,...,y,0.4,y,6.0,y,1.04,y,6.0,n,NaN
4,hypothyroid,77.0,M,f,f,f,f,f,f,f,...,y,1.2,y,57.0,y,1.28,y,44.0,n,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6321,negative,58.0,F,f,f,f,f,f,f,f,...,y,1.7,y,86.0,y,0.91,y,95.0,n,NaN
6322,negative,29.0,F,f,f,f,f,f,f,f,...,y,1.8,y,99.0,y,1.01,y,98.0,n,NaN
6323,negative,77.0,M,f,f,f,f,f,f,f,...,y,0.6,y,71.0,y,0.68,y,104.0,n,NaN
6324,negative,74.0,F,f,f,f,f,f,f,f,...,y,0.1,y,65.0,y,0.48,y,137.0,n,NaN
6325,negative,56.0,F,t,f,f,f,f,f,f,...,y,1.8,y,139.0,y,0.97,y,143.0,n,NaN